{% extends "meta.html" %}
{% block Title %}Tweet-A-Book!{% endblock %}
{% block Content %}
    <p>
        I often have the need to find short quotes in a book, usually to help us promote a publication on social media.
        This tool does exactly this: takes an ePub book and spits out a list of potentially tweetable sentences taken from the
        book. Try it!
    </p>
    <p class="text-center">
        <a href="post">
            <button class="btn btn-large btn-primary btn-block">
                <strong>
                Upload a file and find twettable quotes!
                </strong>
            </button>
        </a>
    </p>
{% endblock %}
