{% extends 'meta.html' %}
{% block Title %}File upload{% endblock %}
{% block Content %}
<div class="col-sm-4">&nbsp;</div>
    <div class="col-sm-4">
        <form role="form" enctype="multipart/form-data" action="post" method="POST">
            <div class="form-group">
                <label for="epubfile">Select an EPUB file:</label>
                <input type="file" name="epubfile">
                <p class="help-block">Upload a (valid) EPUB file and click "Submit"</p>
                <p class="help-block bg-danger "><span class="text-warning"><strong>Please note</strong>: this website <em>does not</em> store your uploaded file anywhere once the request is completed (I have no interest in keeping them, and even if I wanted to, the Heroku ephemeral file system makes it hard to do). See the <a href="https://www.github.com/gabalese/tweet-a-book">code</a>.</span></p>
            </div>
            <div class="form-group">
                <label for="keywords">(Optional) list of filter keywords (space separated):</label>
                <input type="text" name="keywords" class="form-control">
            </div>
            <div class="controls">
                <label for="all">Search for all keywords
                <input type="radio" id="any" name="option" value="any" checked>
                </label>
                <label for="any">Search for any keywords
                <input type="radio" id="all" name="option" value="all">
                </label>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>
{% endblock %}
